*{
    font-family: 'Bitter', serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.body-container{
    height: 100%;
    width: 100%;
    background: rgb(0,201,255);
    background: linear-gradient(90deg, rgba(0,201,255,1) 0%, rgba(146,254,157,1) 100%);
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

.container-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: beige;
    margin: auto;
}

.accordion-trigger{
    padding: 20px;
}

.up, .down{
    width: 25px;
}
.up{
    margin-right: 8px;
}

.down{
    margin-left: 8px;
}

.accordion-item{
    padding: 0 20px;
}

