body{
    background-color: #FFDDD3;
}

.container-content{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container-content div.d-flex{
    height: 75%;
    width: 80%;
    margin: auto;
}

hr{
    border-top: 1px solid rgba(0,0,0,1) !important;
}

.deskripsi{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #a6bfff;
}

img{
    width: 100%;
    border-radius: 0.2rem;
}

.col-4{
    padding-top: 10px;
}