body{
    font-family: 'Quicksand', sans-serif;
}

.container-mask{
    height: 60vh;
    background-color: #9ACDE0;
    display: flex;
}

.container-mask img{
    width: 150px;
    margin: auto;
}

.lib-section{
    display: flex;
}

.lib-section input{
    margin: 25px auto;
    text-align: center;
}

.thumbnail img{
    margin: 0 auto;
}

.table td{
    vertical-align: middle;
}