{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 9</title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'story9/index_style.css' %}">
    <!--<script src="{% static 'story8/javascript.js' %}"></script>-->
</head>
<body>
    <div class="body-container">
        {% if not user.is_authenticated %}
            <div class="anonim-content-container">
                <div class="anonim-message">
                    <h1>Hello stranger</h1>
                    <h2>Please log in <a href="{% url 'story9:login' %}">here</a> to see more of this website</h2>
                </div>
            </div>
        {% else %}
            <div class="login-bar">
                <div class="login-bar-content">
                    <div class="navigate-bar">
                        <div class="link-story">
                            <p><a href="{% url 'story1:index' %}">Story 1</a></p>
                        </div>
                        <div class="divider">|</div>
                        <div class="link-story">
                            <p><a href="{% url 'story3:homepage' %}">Story 3</a></p>
                        </div>
                        <div class="divider">|</div>
                        <div class="link-story">
                            <p><a href="{% url 'story7:index' %}">Story 7</a></p>
                        </div>
                        <div class="divider">|</div>
                        <div class="link-story">
                            <p><a href="{% url 'story8:index' %}">Story 8</a></p>
                        </div>
                    </div>
                    <div class="account-status">
                        <div class="account-action">
                            <div class="login-status">
                                <img class="user-icon" src="{% static 'story9/user.png' %}">
                                <p><span class="username-user">{{user.get_username}}</span></p>
                                <a href="{% url 'story9:logout' %}"><img class="logout-icon" src="{% static 'story9/exit.png' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-content-container">
                <div class="user-data">
                    <h2 id="sapaan">Halo {{ user.get_username }}</h2>
                    {% if request.session.first_name == "-" and request.session.last_name == "-" %}
                        <h4>Nama: Data tidak tersedia</h4>
                    {% elif request.session.first_name == "-" %}
                        <h4>Nama: {{request.session.last_name}}</h4>
                    {% elif request.session.last_name == "-" %}
                        <h4>Nama: {{request.session.first_name}}</h4>
                    {% else %}
                        <h4>Nama: {{request.session.first_name}} {{request.session.last_name}}</h4>
                    {% endif %}
                    <h4>Peran: {{request.session.peran}}</h4>
                    <h4>Tanggal bergabung: {{request.session.date_joined}}</h4>
                    <h4>Terakhir login: {{request.session.last_login}}</h4>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>