{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 7</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap" rel="stylesheet"> 
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
        integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
        crossorigin="anonymous"></script>
    <script src="{% static 'story7/accordion.js' %}"></script>
    <link rel="stylesheet" href="{% static 'story7/style.css' %}">
</head>
<body>
    <div class="body-container"></div>
    <div class="container-content">
        <div class="pembuka text-center">
            <h2>Halo <span class="list-tamu"></span></h2>
            <h3>Selamat datang di Story 7 saya.</h3>
        </div>
        <div class="container w-75 mx-auto accordian-container">
            <div class="accordion">
                <div class="d-flex flex-row justify-content-between accordion-trigger">
                    <div>
                        <h4>Tentang saya</h4>
                    </div>
                    <div class="d-flex flex-row position-changer my-auto">
                        <div class="button-up">
                            <img src="{% static 'story7/arrow-up.svg' %}" class="up">
                        </div>
                        <div class="button-down">
                            <img src="{% static 'story7/arrow-down.svg' %}" class="down">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" style="display: none;">
                    <p>Saya adalah seseorang yang memiliki tingkat daya tarik terhadap berbagai hal yang rendah, 
                        khususnya terhadap web developing:( tapi saya akan berusaha sekuat 
                        tenaga untuk memanjakan mata para pengunjung halaman ini :D  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="d-flex flex-row justify-content-between accordion-trigger">
                    <div>
                        <h4>Kegiatan saat ini</h4>
                    </div>
                    <div class="d-flex flex-row position-changer my-auto">
                        <div class="button-up">
                            <img src="{% static 'story7/arrow-up.svg' %}" class="up">
                        </div>
                        <div class="button-down">
                            <img src="{% static 'story7/arrow-down.svg' %}" class="down">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" style="display: none;">
                    <p>Saat ini saya sedang menjalani kegiatan:</p>
                    <ul>
                        <li>Menikmati semester 3 di Fasilkom.</li>
                        <li>Mempelajari hal-hal lain yang bermanfaat.</li>
                        <li>Mengurus 7 kucing di rumah.</li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="d-flex flex-row justify-content-between accordion-trigger">
                    <div>
                        <h4>Prestasi saya</h4>
                    </div>
                    <div class="d-flex flex-row position-changer my-auto">
                        <div class="button-up">
                            <img src="{% static 'story7/arrow-up.svg' %}" class="up">
                        </div>
                        <div class="button-down">
                            <img src="{% static 'story7/arrow-down.svg' %}" class="down">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" style="display: none;">
                    <p>...<br>Tidak ada :(</p>
                </div>
            </div>
            <div class="accordion">
                <div class="d-flex flex-row justify-content-between accordion-trigger">
                    <div>
                        <h4>Kegiatan dan/atau organisasi</h4>
                    </div>
                    <div class="d-flex flex-row position-changer my-auto">
                        <div class="button-up">
                            <img src="{% static 'story7/arrow-up.svg' %}" class="up">
                        </div>
                        <div class="button-down">
                            <img src="{% static 'story7/arrow-down.svg' %}" class="down">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" style="display: none;">
                    <p>Staff keamanan SOSPRO 2018</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>