{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">This page is under construction :(</h2>
</div>
{% endblock %}