{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid" id="header">
    <div class="d-flex flex-column justify-content-center greeting align-middle m-auto">
        <h3>Hello there, welcome to my website</h3>
        <div class="row justify-content-md-center bw">
            <div class="col-md-auto second-greeting">
                <h3>I'm Zulfahri Haradi, a future <span>engineer</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid align-content-center" id="konten_homepage">
    <div class="d-flex flex-column align-content-center align-middle">
        <div class="d-flex flex-column justify-content-md-center">
            <div class="col-md-auto text_content">
                <h3>I'm currently studying Computer Science</h3>
            </div>
            <div class="col-md-auto text_content">
                <h3>I'm confident at using these tools</h3>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-md-center">
            <div class="col-md-auto gambar_content">
                <img src='{% static "story3/python.png" %}' id="python">
            </div>
            <div class="col-md-auto gambar_content">
                <img src='{% static "story3/java.png" %}' id="java">
            </div>
            <div class="col-md-auto gambar_content">
                <img src='{% static "story3/Rlogo.png" %}' id="rLogo">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-0">
    <h5 id="contact_text">Get in touch with me:</h5>
    <div class="container text-center" id="footer">
        <div class="d-flex flex-row" id="icon_contact">
            <div class="col">
                <a href="https://www.instagram.com/hara.dih/"><img src='{% static "story3/instagram-logo.png" %}' id="logo_instagram"></a>
            </div>
            <div class="col">
                <a href="https://www.facebook.com/zulfahri.haradi.9/"><img src='{% static "story3/facebook.png" %}' id="logo_facebook"></a>
            </div>
            <div class="col">
                <a href="https://twitter.com/sukebeaurum55"><img src='{% static "story3/twitter.png" %}' id="logo_twitter"></a>
            </div>
        </div>
        <div id="footer_message">
            <p>Made by <span id="edgy">Aurum</span></p>
        </div>
    </div>
</div>

{% endblock %}
