{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">Mata kuliah di <span>Fasilkom</span></h2>
</div>
<div>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Mata Kuliah</h5>
            </div>
            <div class="card card-body">
                {% if matkuls %}
                    <table class="table">
                        <tr>
                            <th>Nama</th>
                            <th>Dosen pengajar</th>
                            <th>SKS</th>
                            <th>Delete</th>
                        </tr>
                            {% for matkul in matkuls %}
                                <tr>
                                    <td><a href="{% url 'story3:matkul' matkul.id %}">{{matkul.nama}}</a></td>
                                    <td>{{matkul.pengajar}}</td>
                                    <td>{{matkul.sks}}</td>
                                    <td><a href="{% url 'story3:hapus_matkul' matkul.id %}" class="btn btn-md btn-danger">Hapus</a></td>
                                </tr>
                            {% endfor %}
                    </table>
                {% else %}
                <div class="row mt-4">
                    <div class="col-3"></div>
                    <div class="card-title text-center col-6">
                        Maaf, tidak ada mata kuliah yang tersedia
                    </div>
                    <div class="col-3"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a class="btn btn-primary btn-lg btn-block active" aria-pressed="true" href="{% url 'story3:tambah_matkul' %}">
            Tambah Matkul
        </a>
    </div>
</div>
{% endblock %}