{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">{{ matkul.nama }}</h2>
</div>
<div class="row m-4">
    <div class="col-5">
        <div class="card-body border border-dark rounded-sm">
            <h5 class="card-title text-center">
                Pengajar
            </h5>
            <p class="card-text text-center">
                {{ matkul.pengajar }}
            </p>
        </div>
    </div>
    <div class="col-3">
        <div class="card-body border border-dark rounded-sm">
            <h5 class="card-title text-center">
                Ruang Kelas
            </h5>
            <p class="card-text text-center">
                {{ matkul.ruang }}
            </p>
        </div>
    </div>
    <div class="col-2">
        <div class="card-body border border-dark rounded-sm">
            <h5 class="card-title text-center">
                Jumlah SKS
            </h5>
            <p class="card-text text-center">
                {{ matkul.sks }}
            </p>
        </div>
    </div>
    <div class="col-2">
        <div class="card-body border border-dark rounded-sm">
            <h5 class="card-title text-center">
                Semester
            </h5>
            <p class="card-text text-center">
                {{ matkul.semester }}
            </p>
        </div>
    </div>
</div>
<div class="container-md h-100">
    <div class="row align-items-center justify-content-center">
        <div class="row col-3"></div>
        <div class="row col-6">
            <div class="card-body border border-dark rounded-sm">
                <h5 class="card-title text-center">
                    Deskripsi
                </h5>
                <p class="card-text text-center text-justify">
                    {{ matkul.deskripsi }}
                </p>
            </div>
        </div>
        <div class="row col-3"></div>
    </div>
</div>
<div class="container pt-5"  id="back_home">
    <div class="row justify-content-center align-items-end">
        <div class="row col-5"></div>
        <div class="row col-2 justify-content-center">
            <a href="{% url 'story3:liat_matkul' %}" class="btn btn-primary align-self-end text-center homee">Kembali</a>
        </div>
        <div class="row col-5"></div>
    </div>
</div>



{% endblock %}