#block1 {
    padding: 30px 30px 0px 0px;
}

#myphoto {
    width: auto; height: 270px;
    border-radius: 50%;
    display: block;
    padding-left: 130px;
}

#rowdata{
    padding-left: 30px;
    text-align: justify;
    vertical-align: text-top;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 680px;
    
}

#nama {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("background.png");
    background-size: cover;
    padding-top: 40px;
}

#angkatan {
    font-size: 16pt;
}

#deskripsi {
    font-size : 14pt;
}

#block2 {
    padding-left: 430px;
}

.pendidikan td {
    padding-bottom: 10px;
}

a {
    font-size: 36px;
    color:#3232e6;
}

.sosmed td{
    padding-right: 15px;
}

#block2, .home {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home{
    vertical-align: bottom;
    text-align: center;
}

.home a{
    font-size: medium;
}