{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story8/detail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-content">
        <div class="d-flex flex-row align-item-center">
            <div class="col-4">
                <img src={{buku.volumeInfo.imageLinks.thumbnail}}>
            </div>
            <div class="col-8">
                <h2>{{buku.volumeInfo.title}}</h2>
                {% if buku.volumeInfo.authors %}
                    <h5>
                    {% for author in buku.volumeInfo.authors %}
                        {% if forloop.first %}
                            by {{author}}
                        {% elif forloop.last %}
                            and {{ author }}.
                        {% else %}
                            , {{ author }}
                        {% endif %}
                    {% endfor %}
                    </h5>
                {% endif %}
                <hr/>
                <h6>Published by {{ buku.volumeInfo.publisher }} pada tanggal {{ buku.volumeInfo.publishedDate }}</h6>
                <h6>Jumlah halaman: {{ buku.volumeInfo.pageCount }} halaman</h6>
                {% if buku.volumeInfo.description %}
                    <h6>Deskripsi:</h6>
                    <p class="deskripsi">{{ buku.volumeInfo.description }}</p>
                {% endif %}
                <hr/>
                {% if buku.volumeInfo.categories %}
                    <h6>Kategori: {{ buku.volumeInfo.categories|first }}</h6>
                {% endif %}
                <h6>Dapat di baca <a href={{ buku.accessInfo.webReaderLink }}>di sini</a></h6>
            </div>
        </div>
    </div>
    <script>
        document.body.innerHTML = document.body.innerHTML
            .replace(/&lt;br&gt;/g, '<br />')
            .replace(/&lt;b&gt;/g, '<b>')
            .replace(/&lt;\/b&gt;/g, '</b>')
            .replace(/&lt;i&gt;/g, '<i>')
            .replace(/&lt;\/i&gt;/g, '</i>');
    </script>
</body>
</html>