{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 8</title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'story8/style.css' %}">
    <script src="{% static 'story8/javascript.js' %}"></script>
</head>
<body>
    <div class="container-mask">
        <div class="m-auto" style="display: flex; flex-direction: column;">
            <img src="{% static 'story8/book.png' %}" class="pb-4 ">
            <h1 class="text-center">Li<span>Book</span></h1>
            <h5 class="text-center">"Think before you speak. Read before you think."<br> - Fran Lebowitz</h5>
        </div>
    </div>
    <div class="lib-section">
        <input id="searchKeyword" placeholder="Masukkan kata kunci">
    </div>
    <div class="lib-buku">
        <table class="table table-hover">
            <tbody id="daftar-buku">
            </tbody>
        </table>
    </div>
</body>
</html>