.navbar {
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
}

#container_navbar {
    background-image: url("bg_navbar.jpg");
    width: 600px;
    align-self: center;
}

#foto_logo{
    width: 40px;
}

#header {
    background-image: url("home_cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    
}

#header_profile{
    background-image: url("header_profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: auto;
    max-width: 100%;
}

.greeting, .header_blog h2{
    width: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    color: white;
}

.second-greeting{
    padding-left: 6px;
    padding-right: 6px;
}

.second-greeting span{
    background-color: white;
    color: black;
}

.container-bw{
    background-color: white;
    color: black;
    padding: 0px;
}

#konten_homepage{
    align-self: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.text_content{
    text-align: center;
}

.about-me{
    width: fit-content;
}

.gambar_content{
    text-align: center;
}

#python{
    height: 160px;
}

#java{
    height: 200px;
}

#rLogo{
    height: 160px;
    margin-top: 50px;
}

#footer{
    background-image: url("footer_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40px;
    max-width: 100%;
}

#contact_text{
    padding-left: 15px;
}

#logo_twitter, #logo_facebook, #logo_instagram{
    height: 30px;
    margin-right:-10px;
}

#icon_contact{
    float:left;
    margin-top: 5px;
    margin-left: -15px;
}

#footer_message p{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 6px;
    color: white;
    text-shadow: 1px 1px black;
}

#edgy{
    background-color: gold;
    color:black;
}

.nav-link{
    color: white;
}

#my_photo{
    border-radius: 20%;
    width: 250px;
    margin-top: 100px;
    margin-left: 30px;
}

#my_data{
    margin-top: 130px;
    margin-left: -15px;
    color: white;
}

.medsos_profile{
    float: right;
    vertical-align: text-bottom ;
}

.univ_ind span{
    background-color: black;
    color: yellow;
}

.deskripsi_tambahan p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    margin-left: 20px;
}

.list_pendidikan{
    margin-left:-23px;
}

.header_blog{
    background-image: url("blog_cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100;
    height: 200px;
}

.header_blog span{
    color: black;
    background-color: white;
}

.konten_satu{
    background-image: url("kontent_1.jpg");
}

.konten_dua{
    background-image: url("kontent_2.jpg");
    
}

.konten_tiga{
    background-image: url("kontent_3.jpg");
}

.konten_empat{
    background-image: url("kontent_4.jpg");
}

.konten_satu, .konten_dua, .konten_tiga, .konten_empat{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.no_content{
    color: white;
    margin: auto 0 auto 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


.img-thumbnail{
    background-size: 100% 100%;
}

#judul_konten{
    color: white;
    align-self: center;
    vertical-align: middle;
}

body{
    font-family: 'Bitter', serif;
}
