body{
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 100vw;
}

.body-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(0,201,255);
    background: linear-gradient(90deg, rgba(0,201,255,1) 0%, rgba(146,254,157,1) 100%);
}

.anonim-content-container{
    height: 60%;
    width: 60%;
    margin: auto;
    background-color: bisque;
    display: flex;

}

.anonim-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

.login-bar{
    height: 50px;
    width: 100%;
    background-color: bisque;
}

.login-bar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.navigate-bar{
    display: flex;
    flex-direction: row;
}

.link-story{
    padding: 0 10px;
}

.link-story a{
    color: black;
}

.divider{
    font-weight: bold;
}

.login-status{
    display: flex;
    flex-direction: row;
}

img.logout-icon, img.user-icon{
    height: 20px;
}

.login-status p, .login-status img{
    padding: 0 10px;
    margin: auto;
}

.username-user{
    font-weight: bold;
}

.user-content-container{
    width: 50%;
    height: 50%;
    background-color: #E0FFFF;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.user-content-container div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.user-data{
    width: 100%;
    height: 100%;
}

#sapaan{
    text-align: center;
    padding-bottom: 30px;
}
